html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background:rgb(238, 238, 238);
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: rgb(238, 238, 238);
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: rgb(255, 255, 255);;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: rgb(228, 227, 227);;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(110, 41, 41);
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: rgba(110, 41, 41, 0.719);
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: rgb(110, 41, 41);
    border-radius: 2px;
    border-color: rgb(110, 41, 41);
    padding: 3px 0px;
    color: rgb(211, 211, 211);;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: rgb(211, 211, 211);
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgba(110, 41, 41, 0.692);;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px red;
}

.heroCard {
    margin: 0 auto;
    border: 5px black solid;
    margin:5px;
    text-align:center;
    padding:5px;
}
.heroCard[target=Strength]{
    background-color:#ac3011;
}
.heroCard[target=Agility]{
    background-color:#38ab36;
}
.heroCard[target=Intelligence]{
    background-color:#1087bf;
}

.stat {
    display:inline-block;
    margin:10px;
}

.primAtt {
    font-size: 40px;
    margin:2px;
    font-style: italic;
}

.name {
    margin: 0 auto;
    text-align:center;
    font-size:75px;
}

.statIcon {
    width: 50px;
    height: 50px;
}

.stat {
    font-size: 40px;
}

#title {
    margin: 0 auto;
    margin-top:25px;
    margin-bottom:25px;
    width:50%;
    text-align:center;
    font-size:60px;
}

#dotaLogo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:120px;
    height:120px;
    margin-bottom:10px;
    margin-top:10px;
}

#dotaCharacters {
    background-color:black;
    color:black;
    margin:5px;
}

.spell {
    background-color: rgb(224, 224, 224);
    padding:2px;
    margin:10px;
}

#logoDisplay {
    display:inline-block;
    width:100%;
    margin-bottom:100px;  
    text-align:center;
}

#logoDisplay #dotaLogo {
    display:inline-block;
}

.emptyHero {
    text-align:center;
    color:rgb(211, 211, 211);
}

.emptyAccounts {
    text-align:center;
    color:black;
    font-size: 30px;
}

.spellName {
    background:black;
    border-radius: 1em;
    color:white;
}

#selectGame {
    text-align:center;
}

#submitGame {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 115px;
    background-color: black;
    border-radius: 2px;
    border-color: grey;
    padding: 3px 0px;
    color: rgb(211, 211, 211);
    text-decoration: none;
}

#game {
    background-color:black;
    color:rgb(211, 211, 211);
}

.pageTitle {
    margin:25px;
    text-align: center;
    font-size: 40px;
}

#submitAccount {
    width: 100%;
    height: 100%;
    background-color:rgb(110, 41, 41);
    color:rgb(211, 211, 211);
    font-size:20px;
}

#submitAccount:hover {
    background-color:rgba(110, 41, 41, 0.719);
    transition: background-color 0.4s ease;
}

.accountCard {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.pageSubtitle {
    margin:15px;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.603);
}

#selectedAccount {
    margin-top:100px;
    margin-bottom:50px;
    text-align: center;
    font-size: 50px;
}

#dotaForm {
    text-align:center;
    font-size:20px;
    background-color:rgb(110, 41, 41);
    margin:50px;
    padding:25px;
    color:rgb(255, 255, 255);
}

#submitCharacter {
    width: 90px;
    height: 50px;
    background-color:rgb(110, 41, 41);
    color:rgb(211, 211, 211);
}

#submitCharacter:hover {
    background-color:rgba(110, 41, 41, 0.74);
    transition: background-color 0.4s ease;
}

.formInput {
    margin:25px;
}


#base .formInput {
    display:inline-block;
}

#stats .formInput {
    display:inline-block;
}

.abilityDesc {
    width: 400px;
    height: 300px;
    
}

.spellInput {
    display: inline-block;
    margin: 20px;
}

#character {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(235, 235, 235);
    font-style: italic;
    margin-bottom:50px;
    font-weight: bold;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(250, 23, 23);
    font-style: italic;
    text-align: center;
    margin-bottom:50px;
}

#loginForm #errorMessage, #signupForm #errorMessage {
    margin-bottom:10px;

}

#accountInfo {
    text-align: center;
}

#changePass {
    margin-top:25px;
}

#passLabel {
    font-size:25px;
    margin:25px;
}

#passSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: rgb(110, 41, 41);
    border-radius: 2px;
    border-color: rgb(110, 41, 41);
    padding: 3px 0px;
    color: rgb(211, 211, 211);;
    text-decoration: none;
}

#passSubmit:hover {
    background-color: rgba(110, 41, 41, 0.692);
}

#passSuccess {
    text-align:center;
    font-size:20px;
}